<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.eduask.mapper.StuMapper">
	
	<resultMap type="com.eduask.bean.StuInfo" id="stu" >
	  <id column="stuNo" property="stuNo"/>
	  <result column="stuId" property="stuId"/>
	  <result column="stuPass" property="stuPass"/>
	  <result column="stuName" property="stuName"/>
	  <result column="stuSex" property="stuSex"/>
	  <result column="stuOri" property="stuOri"/>
	  <result column="stuNat" property="stuNat"/>
	  <result column="stuAge" property="stuAge"/>
	  <result column="stuPhone" property="stuPhone"/>
	  
	  <association property="ci" javaType="com.eduask.bean.ClassInfo">
	    <id column="classId" property="classId"/>
	    <result column="className" property="className"/>
	  </association>
	</resultMap>
	
	  <select id="findAll" resultMap="stu">
	    SELECT * FROM StuInfo s ,ClassInfo c WHERE s.`classId`=c.`classId`
	  </select>
	</mapper>